:root {
    --background: #191E26;
    --text: #1976BC;
  }
  html {
    scroll-behavior: smooth;
  }
  .swiper {
    width: 1000px;
    z-index: 100 !important;
  }
  .ft{
    display: none !important;
  }
  .dropdown-item:hover{
    color: #001e57 !important;
    background-color: var(--text) !important;
  }
 .dropdown-item{
    background-color: var(--text);
 }
 @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@0,300;0,400;1,300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,500;1,300;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
  .active{
    color: var(--text) !important;
  }
  p{
    font-size: 19px;
  }
  *{
    text-size-adjust: none !important;

  }
  body{
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  #logo img{
    width: 180px;
  }
  .nav-link{
    margin-right: 20px;
  }
  .nav-link a{
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
  }
  .navbar{
    padding: 0 10%;
  }
  .carousel.slide{
    height: 100vh !important;
}
.fixed-top{
   
}
.dropdown-item:hover{
  background-color: transparent;
}

.dropdown-menu{
    transition: all 1s ease-in;
    border: none;
    background-color: transparent;
}
#overlayblack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    z-index: 1000;
}
#overlaywhite{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 10;
}
.carousel-control-prev,.carousel-control-next{
    z-index: 1000;
}
#button{
    margin-top: 10px;
    background-color: var(--text);
    border-radius: 45px;
    padding: 20px 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#button:hover{
    opacity: 0.7;
}
button{
    color: white !important;
}
#header1{
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("./images/background.webp");
}
.header-textcenter{
    font-family: 'Rubik';
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.header-textcenter h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1000;
    font-size:5.4vw;
    }
.header-textcenter p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% 20%;
    z-index: 1000;
    color: white;
}
.active{
    border-top: 1px #1976BC solid;
    color: #1976BC !important;
}
nav{
    
}
nav li a{
    margin-right: 10px;
    padding: 5px;
    color: white !important;
    font-size: 16px;
}



#top{
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 20px;
    color: white;
    background-color: #1976BC;
}
#top a{
    color: white;
}
#overlayblack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
}

img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }

.sec-title{
  position:relative;
  z-index: 1;
  margin-bottom:60px;
}

.sec-title .title{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--text);
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2{
  position: relative;
  display: block;
  font-size:40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom:18px;
}

.sec-title h2:before{
  position:absolute;
  content:'';
  left:0px;
  bottom:0px;
  width:50px;
  height:3px;
  background-color:#d1d2d6;
}

.sec-title .text{
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2{
  color: #ffffff;
}

.sec-title.text-center h2:before{
  left:50%;
  margin-left: -25px;
}

.list-style-one{
  position:relative;
}

.list-style-one li{
  position:relative;
  font-size:16px;
  line-height:26px;
  color: #222222;
  font-weight:400;
  padding-left:35px;
  margin-bottom: 12px;
}

.list-style-one li:before {
    content: "\f058";
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    font-size: 18px;
    padding: 0px;
    color: var(--text);
    font-weight: 600;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.6;
    font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover{
  color: #44bce2;
}

.btn-style-one{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: var(--text);
}

.btn-style-one:hover{
  background-color: #001e57;
  color: #ffffff;
}
.about-section{
  position: relative;
  padding: 120px 0 70px;
}

.about-section .sec-title{
  margin-bottom: 45px;
}

.about-section .content-column{
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column{
  position: relative;
  padding-left: 30px;
}

.about-section .text{
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.about-section .list-style-one{
  margin-bottom: 45px;
}

.about-section .btn-box{
  position: relative;
}

.about-section .btn-box a{
  padding: 15px 50px;
}

.about-section .image-column{
  position: relative;
}

.about-section .image-column .text-layer{
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column{
  position: relative;
  padding-left: 120px;
  padding-bottom: 125px;
}

.about-section .image-column .inner-column:before{
  position: absolute;
  left: -75px;
  top: 65px;
  height: 520px;
  width: 520px;
  background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
  content: "";
}

.about-section .image-column .image-1{
  position: relative;
}

.about-section .image-column .image-2{
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img{
  box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.about-section .image-column .video-link{
  position: absolute;
  left: 70px;
  top: 170px;
}

.about-section .image-column .video-link .link{
  position: relative;
  display: block;
  font-size: 22px;
  color: #191e34;
  font-weight: 400;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 30px 50px rgba(8,13,62,.15);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.whyus-section{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--text);
}
.whyus-section .item{
    padding: 20px;
    text-align: center; color: white;
}
.whyus-section .item img{   
     width: 70px;
}
.whyus-section .item h4{
    padding-top: 15px;
    padding-bottom: 15px;
}
.whyus-section .item p{
    font-size: 16px;
     font-weight: 400;
}
/* camera animation */

.camera-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .camera-container .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 120%, #ddd, #fff 80%, #000 100%);
    border-radius: 50%;
    box-shadow: 8px 8px 15px #000;
    height: 70px;
    width: 70px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
  }
  .camera-container .circle .top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 45px;
    width: 84px;
    z-index: 2;
    position: absolute;
    top: -12px;
    left: -7px;
  }
  .camera-container .circle .camera-eye {
    animation: camera 8s infinite linear;
    background: linear-gradient(45deg, #222, #444 30%, #444 35%, #222);
    border-radius: 50%;
    height: 42px;
    margin: 10px 0 0 0;
    width: 42px;
    position: absolute;
    left: 14px;
    top: 14px;
  }
  .camera-container .circle .camera-eye .inner-eye {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #111 30%, rgba(255, 255, 255, 0.7));
    border-radius: 50%;
    height: 42px;
    width: 42px;
  }
  .camera-container .circle .camera-eye .inner-eye .blinking {
    animation: colour 2s infinite linear;
    border: 3px dotted #93d3ed;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  
  @keyframes colour {
    0% {
      border: 3px dotted #93d3ed;
    }
    65% {
      border: 3px dotted #93d3ed;
    }
    68% {
      border: 3px dotted #f00;
    }
    75% {
      border: 3px dotted #93d3ed;
    }
  }
  
  @keyframes camera {
    0% {
      transform: none;
    }
    30% {
      transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg)
        scale(0.78);
    }
    65% {
      transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg)
        scale(0.78);
    }
    90% {
      transform: none;
    }
  }
  
  /* end camera anim */

  .section-2{
    align-items: center;
    display: flex;flex-wrap: wrap;
    flex-direction: row;
  }
  .section-2 .left{
     width: 60%;
    padding: 4%;
  }
  .section-2 .left h3{
    font-weight: 500;
    color: var(--text);
  }
  .section-2 .right img{
    width: 500px;
  }
  @keyframes scrolldown {
    0%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50%{
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}
.cards-row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.cards-row .card{
  height: max-content;
  width: 350px;
  height: 550px;
  padding-bottom: 20px;
}
.card img{
  height: 200px;
}
.cards-row .card .card-desc{
   padding: 15px;
}
.cards-row .card .card-desc h3{
  font-weight: 600;
  color: #1976BC;
}
.cards-row .card .card-desc p{
  font-size: 17px;
}
.cards-row .card .card-desc a:hover{
   opacity: 0.7;
   text-decoration: none;
}
.cards-row .card .card-desc a{
  color: white;
  border-radius: 5px;
  padding: 15px 40px;
    background-color: var(--text);
}
.appeler{
  position: relative;
  padding: 5%;
  margin-top: 10%;
  width: 100%;
  background-image: url(./images/fw3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.appeler h1{
  font-size: 4vw;
  font-weight: 700;
} 
.appeler a{
  color: white;
  border-radius: 5px;
  padding: 15px 40px;
    background-color: var(--text);
}
.boxex-row{
  padding: 5%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  justify-content: space-around;
  background-color: #dddddd;
}
.boxex-row img{
  width: 200px;
}
img {
  max-width: 100%;
  height: auto;
}
      section {
          padding: 60px 0;
         /* min-height: 100vh;*/
      }
ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
.contact-area {
  border-bottom: 1px solid #353C46;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353C46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #1976BC;
  background-color: var(--text);
}

.contact-content img {
  max-width: 210px;
}

footer {
  background:#191e28;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}
.service-page-header{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.service-page-header .textcenter{
    font-weight: 600;
    color: white;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.textcenter h3{
  font-size: 3vw;
  font-weight: 500;
}
.icons{
    text-align: center;
}
.icons img{
  width: 150px;
  padding: 30px;
}
@media screen and (max-width:650px){
  .section-2 .left{
    width: 90%;
  }
  .whyus-section{
     flex-direction: column;
  }
  .cards-row .card{
    margin-bottom: 25px;
  }
}